node_modules
.venv
dist
images
matcaps
docs/build
package-lock.json

# Python
__pycache__
.ipynb_checkpoints

src/ipyniivue/static

launch.json

# OS Specific
.DS_Store

# Tests
tests-out
test-results/
*.last-run.json
.last-run.json
.playwright/
playwright-report/

# Generated gallery
docs/source/gallery/
external/jupyter-notebooks/
