[build-system]
requires = [
    "hatchling>=1.3.1",
    "jupyterlab==3.*",
]
build-backend = "hatchling.build"

[project]
name = "ipyniivue"
description = "show a nifti image in a webgl 2.0 canvas within a jupyter notebook cell"
readme = "README.md"
license = { file = "LICENSE.txt" }
requires-python = ">=3.7"
authors = [
    { name = "Niivue" },
]
keywords = [
    "IPython",
    "Jupyter",
    "Widgets",
]
classifiers = [
    "Framework :: Jupyter",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    "ipywidgets>=7.0.0",
    "jupyter_ui_poll>=0.2.2"
]
version = "1.1.0"

[project.optional-dependencies]
docs = [
    "jupyter_sphinx",
    "nbsphinx",
    "nbsphinx-link",
    "pypandoc",
    "pytest_check_links",
    "recommonmark",
    "sphinx>=1.5",
    "sphinx_rtd_theme",
]
examples = []
test = [
    "nbval",
    "pytest-cov",
    "pytest>=6.0",
]

[project.urls]
Homepage = "https://github.com/niivue/ipyniivue"

[tool.hatch.build]
artifacts = [
    "ipyniivue/nbextension/index.*",
    "ipyniivue/labextension/*.tgz",
    "ipyniivue/labextension",
]

[tool.hatch.build.targets.wheel.shared-data]
"ipyniivue/nbextension" = "share/jupyter/nbextensions/ipyniivue"
"ipyniivue/labextension" = "share/jupyter/labextensions/ipyniivue"
"./install.json" = "share/jupyter/labextensions/ipyniivue/install.json"
"./ipyniivue.json" = "etc/jupyter/nbconfig/notebook.d/ipyniivue.json"

[tool.hatch.build.targets.sdist]
exclude = [
    ".github",
]

[tool.hatch.build.hooks.jupyter-builder]
build-function = "hatch_jupyter_builder.npm_builder"
ensured-targets = [
    "ipyniivue/nbextension/index.js",
    "ipyniivue/labextension/package.json",
]
skip-if-exists = [
    "ipyniivue/nbextension/index.js",
    "ipyniivue/labextension/package.json",
]
dependencies = [
    "hatch-jupyter-builder>=0.5.0",
]

[tool.hatch.build.hooks.jupyter-builder.build-kwargs]
path = "."
build_cmd = "build:prod"

[tool.tbump]
field = [
    { name = "channel", default = "" },
    { name = "release", default = "" },
]
file = [
    { src = "pyproject.toml", version_template = "version = \"{major}.{minor}.{patch}{channel}{release}\"" },
    { src = "ipyniivue/_version.py" },
]

[tool.tbump.version]
current = "1.1.0"
regex = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)((?P<channel>a|b|rc|.dev)(?P<release>\\d+))?"

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"
